body {
  background-color: #A31E02;
    padding-bottom: 30px;
}

h1 {
text-align: center;
   color: #ffffff;
}

h2 {
  text-align: left;
    color: #ffffff;
}

img {
  width: 250px;
}

p {
  color: #ffffff;
}