body {
  background-color: #A31E02;
    padding-bottom: 30px;
}

h1 {
text-align: center;
   color: #ffffff;
}

h2 {
  text-align: left;
    color: #ffffff;
}

img {
  width: 250px;
  
}

p {
  color: #ffffff;
  margin-bottom: 15px;
    text-align: justify;
    padding: 12px 16px;
    border-radius: 10px;
    border-left: 4px solid;
}
